  
<!DOCTYPE html>
<html lang="en">
<head>
  <title>BookDetails</title>
  <%- include('../../layout/head.ejs') %>
</head>
<body>
  <h1><%= value.title %></h1>
  <p><%= value.author %></p>
  <p><%= value.description %></p>
  <img src="<%= value.image_url %>" alt="<%= value.title %>">
  <%- include('edit.ejs') %>
  <form action="/update/<%= value.id %>?_method=delete" method="post">
    <input type="hidden" name="id" value="<%= value.id %>" />
    <button type="submit">Delete Book</button>
  </form>
</body>
<footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../js/app.js"></script> 
  <%- include('../../layout/footer.ejs') %>
</footer>
</html>