<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
  </head>
  <body>
    <main>
      <ul>
        <% renderedContent.forEach(book => { %>
          <li><img src="<%= book.image %>" alt="<%= book.title %>"> <%= book.title %> <%= book.authors %> <%= book.description %></li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>