<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <%- include('../layout/head.ejs') %>
  </head>
  <body>
    <main>
      <h2>Total books in Database: <%= renderedContent.length %></h2>
      <ul>
        <% renderedContent.forEach(book => { %>
          <li><img src="<%= book.image_url %>" alt="<%= book.title %>">
         <p id="title"> <%= book.title %> </p>
         <p id="author"><%= book.author %> </p>
         <p><%= book.description %></p>
         <button><a href="/books/<%= book.id %>">View Details</a></button></li>
        <% }) %>
      </ul>
    </main>
    <footer>
      <%- include('../layout/footer.ejs') %>
    </footer>
  </body>
</html>